/* External CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.carousel-inner img {
    height: 400px;
    object-fit: cover;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    transition: box-shadow 0.3s;
}


.price {
    margin-top: 10px;
}

.old-price {
    text-decoration: line-through;
    color: #888;
    margin-right: 5px;
}

.new-price {
    color: #d9534f;
    font-weight: bold;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    border-bottom: 1px solid #ddd;
}

.product-card h4 {
    margin: 15px 0 10px;
}

.product-card p {
    color: #888;
    font-size: 0.9em;
}

.footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
}